@font-face {
  font-family: 'iconfont'; /* project id 2485427 */
  src: url('//at.alicdn.com/t/font_2485427_to5do9ebbqb.eot');
  src: url('//at.alicdn.com/t/font_2485427_to5do9ebbqb.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2485427_to5do9ebbqb.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2485427_to5do9ebbqb.woff') format('woff'),
    url('//at.alicdn.com/t/font_2485427_to5do9ebbqb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2485427_to5do9ebbqb.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin::before {
  content: '\e623';
}

.icon-live::before {
  content: '\e621';
}

.icon-search::before {
  content: '\e696';
}
.icon-yinfu::before {
  content: '\e8db';
}
.icon-avatar-plus:before {
  content: '\e660';
}

.icon-rightbar-xin::before {
  content: '\eb52';
}
.icon-rightbar-pinglun::before {
  content: '\e60a';
}
.icon-rightbar-zhuanfa::before {
  content: '\e716';
}
