@font-face {
  font-family: 'iconfont'; /* Project id 2485427 */
  src: url('//at.alicdn.com/t/font_2485427_an3nb4a2p5k.woff2?t=1624266549118')
      format('woff2'),
    url('//at.alicdn.com/t/font_2485427_an3nb4a2p5k.woff?t=1624266549118')
      format('woff'),
    url('//at.alicdn.com/t/font_2485427_an3nb4a2p5k.ttf?t=1624266549118')
      format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin::before {
  content: '\e623';
}

.icon-live::before {
  content: '\e621';
}

.icon-search::before {
  content: '\e696';
}
.icon-yinfu::before {
  content: '\e8db';
}
.icon-avatar-plus:before {
  content: '\e660';
}

.icon-rightbar-xin::before {
  content: '\eb52';
}
.icon-rightbar-pinglun::before {
  content: '\e60a';
}
.icon-rightbar-zhuanfa::before {
  content: '\e716';
}
/* 评论部分 */
.icon-comment-xin::before {
  content: '\e705';
}
.icon-comment-emoji::before {
  content: '\e632';
}
/* edit编辑资料 */
.icon-edit-avatar::before {
  content: '\e61d';
}
/* publish加号发布 */

.icon-publish-top-yinfu::before {
  content: '\e600';
}
